<main [ngStyle]="{'background-color': backgroundColor}">
  <div class="weather-box">
    <div class="right-side">
      <div class="city-name">{{ city }}</div>
      <div class="weather">{{ weather }} <span *ngIf="city">°C</span></div>
    </div>
    <div *ngIf="!isLoading">
      <div *ngIf="isRaining" class="raining">Está chovendo!</div>
      <div *ngIf="!isRaining" class="raining">Não está chovendo!</div>
    </div>


  </div>
  <div class="pokemon-box">
    <div class="status">
      <div class="id">
        <span *ngIf="pokememonId">#</span>
        {{ pokememonId }}
      </div>
      <div class="name">{{pokemonName}}</div>
      <div class="type">{{ pokemonType }}</div>
    </div>
    <div *ngIf="pokemonImg">
      <img src={{pokemonImg}} alt="">
    </div>
  </div>
</main>