<main>
  <div class="weather-box">
    <div class="right-side">
      <div class="city-name">{{ city }}</div>
      <div class="weather">{{ weather }}</div>
    </div>
    <div **ngIf="isRaining" class="raining">Está chovendo!</div>
    <div **ngIf="!isRaining" class="raining">Não está chovendo!</div>

  </div>
  <div class="pokemon-box">
    <div class="status">
      <div class="id">{{ pokememonId }}</div>
      <div class="name">{{pokemonName}}</div>
      <div class="type">{{ pokemonType }}</div>
    </div>
    <a href="https://pokemondb.net/pokedex/charizard"><img
        src="https://img.pokemondb.net/sprites/black-white/normal/charizard.png" alt="Charizard">
    </a>
  </div>
</main>