<main>
  <div class="weather-box">
    <div class="right-side">
      <div class="city-name">New York</div>
      <div class="weather">25°</div>
    </div>
    <div class="raining">Não está chovendo</div>
  </div>
  <div class="pokemon-box">
    <div class="status">
      <div class="id">#005</div>
      <div class="name">Charizard</div>
      <div class="type">Fogo</div>
    </div>
    <a href="https://pokemondb.net/pokedex/charizard"><img
        src="https://img.pokemondb.net/sprites/black-white/normal/charizard.png" alt="Charizard">
    </a>
  </div>
</main>