<main>
  <nav>
    Pokedex
  </nav>

  <section>
    <div class="screen">
      <app-pokemon-list></app-pokemon-list>
      <div>
        <input placeholder="Digite uma cidade..." type="text">
      </div>
    </div>

  </section>
  <aside>
    <div class="controls">
      <div class="analog"></div>
      <div class="dpad">
        <button class="up">▲</button>
        <div class="middle">
          <button class="left">◄</button>
          <button class="center"></button>
          <button class="right">►</button>
        </div>
        <button class="down">▼</button>
      </div>
    </div>

  </aside>

</main>