<main>
  <section>
    <div class="screen">
      <img src="" alt="">
      <div>
        <input type="text">
      </div>
    </div>

  </section>
  <aside>
    <div class="controls">
      <div class="analog"></div>
      <div class="dpad">
        <button class="up">▲</button>
        <div class="middle">
          <button class="left">◄</button>
          <button class="center"></button>
          <button class="right">►</button>
        </div>
        <button class="down">▼</button>
      </div>
    </div>

  </aside>

</main>