main{
  background: #D30B40;
  max-width: 450px;
  height: 600px;
  margin: 100px auto;
  border-radius: 30px;
  flex-direction: column;
  display: flex;

  padding: 60px 10px ;
}

section{
  width: 100%;
  

  
}
.screen{
  height: 400px;
  background-color: #ccc;
}