main{
  background: #D30B40;
  max-width: 450px;
  height: 600px;
  margin: 100px auto;
  border-radius: 30px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;

  padding: 30px 10px ;
}

nav{
  font-size: 30px;
  color: #FFCC02;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 8px;
  margin-bottom: 2px;
  font-family: 'Pokemon Solid', sans-serif;
  text-shadow: -7px 0px  blue;

}

form{
  display: flex;
  position: relative;
  
  button{
    border: none;
    background-color: transparent;
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;
  }
}

section{
  width: 100%;

  .screen{
    height: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  input{
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
  }
  input::placeholder{
    color: #adadad;
  }

  

  
}

aside{
  .controls{
    align-items: center;
    
    justify-content: space-between;
    display: flex;
    padding: 20px 50px;
  }
  .analog{
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: BLACK;
    padding: 40px;
    box-shadow: rgba(0,0,0,0.8) 2px 1px 1px 0px;
  }
  .dpad {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .middle {
    display: flex;
    justify-content: center;
  }
  
  button {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border: 2px solid #aaa;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #bbb;
  }
  
  .up, .down {
    margin-bottom: 5px;
  }
  
  .left, .right {
    margin: 2px 5px;
  }
  
  .center {
    background-color: #aaa;
    border: none;
  }
  
}
